%h1
  Andrew Hunter Flight-booker Project 
%br
%h2
  Use Instructions:
%br
%h3 
  Select Search in the navigation bar to begin.
  %br 
  %br
  Select departure, arrival, time, and number of passengers and ensure to click Search to refine the displayed flights.
  %br
  %br 
  Selecting number of passengers and clicking search is crucial to ensuring the nested forms feature is displayed.
  %br 
  %br 
  Input passenger details, and press book.
  %br 
  %br 
  View your boooking information. 